<ion-view view-title="我的">
  <ion-nav-bar>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
	  <a class="item item-icon-left item-icon-right" href="#/tab/mine/user">
	    <i class="icon ion-person"></i>
	    1234567@123.com
	    <i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-power"></i>
	    注销
	  </a>

	  <a class="item item-icon-left item-icon-right" href="#/tab/mine/messages">
	    <i class="icon ion-chatbox-working"></i>
	    系统消息
	    <span class="badge badge-assertive">1</span>
	    <i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  
	  <a class="item item-icon-left item-icon-right" href="#/tab/mine/setting">
	    <i class="icon ion-gear-b"></i>
	    设置
	    <i class="icon ion-chevron-right icon-accessory"></i>
	  </a>
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-compose"></i>
	    意见反馈
	  </a>
    </ion-list>
  </ion-content>
</ion-view>