<ion-view view-title="">
  
  
  <ion-nav-bar>
  </ion-nav-bar>
   <div class="bar bar-header">
      <button class="button icon ion-android-folder"></button>
      <h1 class="title">全部</h1>
      <button class="button">编辑</button>
  </div> 
  
  <ion-content class="padding">
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/dash/pdf/file=compressed.tracemonkey-pldi-09.pdf">
        查看09.pdf
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
    <ion-list>
    <a class="item item-icon-left item-icon-right" href='lib/pdfjs/web/viewer.html?file=compressed.tracemonkey-pldi-09.pdf'>查看09.pdf
    <!-- 
    <a href="#" onclick="window.open('lib/pdfjs/web/viewer.html?file=compressed.tracemonkey-pldi-09.pdf','PDF','width:50%;height:50%;top:100;left:100;');">查看09.pdf</a>
    <div class="wrapper" ng-controller="DocCtrl">
     <ng-pdf ng-if="pdfUrl" template-url="partials/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf> 
    </div>-->
            <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    </ion-list>
  </ion-content>
</ion-view>
