<ion-view view-title="书">

  <ion-nav-buttons side="left">
      <button class="button icon ion-qr-scanner button-clear" ng-click="doSomething()">
      </button>
      <label class="item-input-wrapper item-input-inset">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	  </label>
  </ion-nav-buttons>
  
  <ion-nav-buttons side="right" ng-controller="BarcodeController">
      <button class="button icon ion-android-cart button-clear" ng-click="scanBarcode()">
      </button>
  </ion-nav-buttons>
  <ion-content>
    
  </ion-content>
</ion-view>
