<ion-view view-title="全部">
  <ion-nav-buttons side="left">
      <button class="button icon ion-android-folder button-clear" ng-click="doSomething()">
      </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="doSomething()">
      编辑
      </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="book in books" type="item-text-wrap" href="lib/pdfjs/web/cover.html?file=/pdf/{{book.name}}.pdf">
          <canvas id="{{book.id}}" name="pdf/{{book.name}}.pdf" class="canvas" style="border:0px solid black;display: inline;float: left;height:0;width:0"></canvas>
          <h2 >{{book.name}}</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <!-- <ion-checkbox ng-model="filter.blue" class="ion-chevron-right"></ion-checkbox> -->
          <ion-option-button class="button-assertive" ng-click="remove(book)">
            Delete
          </ion-option-button>
       </ion-item>
     </ion-list>
  </ion-content>
  <script type="text/javascript">
    var clientWidth = document.body.clientWidth;
    var clientHeight = document.body.clientHeight;
    $(document).ready(function() {
        $("canvas").each(function(){
          //alert($(this).attr("id"));
          $(this).css('height', clientWidth*0.2);  
          $(this).css('width', clientWidth*0.15);
          var url = $(this).attr("name");
          var cavid = $(this).attr("id");
          var scale = 0.08;
          bookFace(url,cavid,scale);
          $("a").css("padding","2%");
          $("label").css("padding",0);
        });
    });
   
    //加载pdf封面方法
    function bookFace(url,cavid,scale) {
      //
      // If absolute URL from the remote server is provided, configure the CORS
      // header on that server.
      //
      //var url = '/pdf/爱上统计学.pdf';

      //
      // Disable workers to avoid yet another cross-origin issue (workers need
      // the URL of the script to be loaded, and dynamically loading a cross-origin
      // script does not work).
      //
      // PDFJS.disableWorker = true;

      //
      // The workerSrc property shall be specified.
      //
      //PDFJS.workerSrc = '../build/pdf.worker.js';

      //
      // Asynchronous download PDF
      //
      //var cavid = '1';
      PDFJS.getDocument(url).then(function getPdfHelloWorld(pdf) {
        //
        // Fetch the first page
        //
        pdf.getPage(1).then(function getPageHelloWorld(page) {
          //var scale = 0.08;
          var viewport = page.getViewport(scale);
          //
          // Prepare canvas using PDF page dimensions
          //
          var canvas = document.getElementById(cavid);
          var context = canvas.getContext('2d');
          canvas.height = viewport.height;
          canvas.width = viewport.width;

          //
          // Render PDF page into canvas context
          //
          var renderContext = {
            canvasContext: context,
            viewport: viewport
          };
          page.render(renderContext);
        });
      });
    }

  </script>
</ion-view>
